.main {
    background-image: url("../images/maxresdefault.jpg");
}

.jumbotron {
    background-size: cover;
    background: rgba(0,0,0, 0.5);
}

.container {
    text-align: center;
    color: rgb(235, 235, 235);
    font-size: 80px;
    font-weight: bold;
    text-shadow: 1px 1px black;
    font-family: 'Roboto Slab', serif;
}

.card {
    margin: 20px;
    border: 1px solid rgb(65, 64, 64);
}

.card-header {
    text-align: center;
    background-color: rgb(27, 107, 131);
    color: white;
    font-family: 'Roboto Slab', serif;
}

thead, tbody {
    font-family: 'Roboto Slab', serif;
}

form {
    padding: 20px;
    font-family: 'Roboto Slab', serif;
}

label {
    margin: 10px 0px 5px 0px;
    font-family: 'Roboto Slab', serif;
}

.btn {
    text-align: center;
    background-color: rgb(27, 107, 131);
    border: none;
    color: white;
    font-family: 'Roboto Slab', serif;
}
